@charset "UTF-8";
* {
  font-family: "poppins", sans-serif;
}

.title-section {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 3.75rem;
}

.subtitle-section {
  font-weight: 100;
  font-size: 2rem;
}

.p {
  font-size: 1.06rem;
  font-weight: 400;
}

.bg-grey {
  background-color: #ebebeb;
}

.bg-grey-light {
  background-color: #f5f5f5;
}

.main-nav-container {
  position: relative;
  height: 0;
  z-index: 2;
  color: white;
}
.main-nav-container .main-nav {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
}
.main-nav-container .main-nav img {
  height: 40px;
}
.main-nav-container .menu {
  font-size: 1.5rem;
  font-weight: 100;
}
.main-nav-container .menu ul {
  padding: 0;
  list-style: none;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main-nav-container .menu ul li {
  position: relative;
  cursor: pointer;
}
.main-nav-container .menu ul li:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  width: 0;
  height: 1px;
  background-color: #ffffff;
}
.main-nav-container .menu ul li:hover:before {
  width: 100%;
}

.header-slider-videos .swiper {
  height: 100vh;
}
.header-slider-videos .slide-video {
  position: relative;
  height: 100%;
}
.header-slider-videos .slide-video h1 {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 3.75rem;
  font-weight: 200;
  z-index: 1;
  max-width: 1000px;
  padding: 1.5rem 3rem;
}
.header-slider-videos .slide-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-intro {
  display: flex;
}
.section-intro video {
  max-width: 40%;
}
.section-intro p {
  margin-right: 3rem;
  font-size: 1.75rem;
  font-weight: 100;
}

.slick-services-home {
  background-image: url(./assets/bg-services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slick-services-home #btn-read-more {
  font-size: 1.06rem;
}
.slick-services-home p {
  font-size: 1.06rem;
  font-weight: 400;
}
.slick-services-home .swiper {
  width: 850px;
  max-width: 100%;
  height: 352px;
}
.slick-services-home .swiper .swiper-scrollbar {
  display: none;
}
.slick-services-home .swiper .swiper-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-services-home .swiper .swiper-button:after {
  content: unset;
}
.slick-services-home .swiper .swiper-button-prev:after {
  content: unset;
}
.slick-services-home .swiper .swiper-button-next:after {
  content: unset;
}
.slick-services-home .swiper .card-style {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2509803922);
}
.slick-services-home .swiper .card-style i {
  font-size: 8rem;
}
.slick-services-home .swiper .card-style .title-card {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}
.slick-services-home .swiper .card-style p {
  font-size: 1rem;
  font-weight: 400;
}
.slick-services-home .swiper .card-style img {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
.slick-services-home .swiper .swiper-slide {
  transition: 0.5s;
  background: #fefefe;
}
.slick-services-home .swiper .swiper-slide-active {
  background: #ffffff;
}
.slick-services-home .columns-services ul {
  padding: 0;
  list-style: none;
}
.slick-services-home .columns-services ul li {
  font-size: 0.875rem;
}
.slick-services-home .columns-services .btn i {
  font-size: 1.675rem;
}

.section-clients .container-words-1 {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.section-clients .container-words-2 {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
.section-clients .container-logos {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.section-clients .logos {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}
.section-clients .logos .logo {
  padding: 0 60px;
  width: auto;
  height: 70px;
}
.section-clients .words {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.section-clients .words .word {
  margin-left: 1rem;
}
.section-clients .words .word h1 {
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2.5rem;
}
.section-clients .words .word h1:before {
  position: relative;
}
.section-clients .words .word h1:before {
  content: "●";
  position: relative;
  font-size: 1rem;
  top: -0.1rem;
  vertical-align: middle;
  margin-right: 1rem;
}

.section-about-us {
  position: relative;
}
.section-about-us .container {
  position: relative;
  z-index: 1;
}
.section-about-us video {
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.section-our-team .profile {
  margin: 10px;
  background-color: #000000;
  color: white;
  text-align: center;
}
.section-our-team .profile img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
}

.section-footer {
  color: #ffffff;
}
.section-footer .d-block img {
  height: 40px;
}
.section-footer .map {
  position: relative;
}
.section-footer .map img {
  width: 297px;
  height: 143px;
}
.section-footer .map .fa-map-marker-alt {
  cursor: pointer;
  position: absolute;
  font-size: 1rem;
  text-align: center;
  color: #fefefe;
  transition: 0.3s;
}
.section-footer .map .fa-map-marker-alt:hover {
  color: rgb(144, 255, 249);
  font-size: 1.2rem;
}
.section-footer .map #marker-1 {
  top: 42px;
  left: 52px;
}
.section-footer .map #marker-2 {
  top: 109px;
  left: 83px;
}
.section-footer .map #marker-3 {
  top: 24px;
  left: 157px;
}/*# sourceMappingURL=index.css.map */